<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- <%- include('partials/header') %> -->

    <div id="main-div" style="margin-top: 100px; margin-bottom: 40px;"> <!-- Add margin to avoid overlap -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(student=> { %>
                    <tr>
                        <td>
                            <%= student.name %>
                        </td>
                        <td>
                            <%= student.age %>
                        </td>
                        <td>
                            <%= student.grade %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('partials/footer') %>
</body>

</html>